
.navbar {
    background-color: #c1ffb8;
}

.imagem-logo {
    margin-left: 25px;
}

.quem-somos {
    background-color: rgb(114, 219, 219);
    color: rgb(66, 65, 65);
}

.margin {
    padding-top: 30px;
    padding-bottom: 10px;
}